# Dependencias de Node
node_modules/
/front/vite-project/node_modules/

# Build de React/Vite
/front/vite-project/dist/
/front/vite-project/dist-ssr/
*.local

# Dependencias y Build de Java (Spring Boot)
/back/target/
/back/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs y Editores
.idea/
.vscode/
*.swp
*.swo
*.iml
.project
.classpath
.settings/

# Archivos de SO
.DS_Store
Thumbs.db

# Docker (Archivos generados o volúmenes locales)
pgdata/
backend_uploads/

# Entornos virtuales de Python (si usas IA localmente)
venv/
.env
__pycache__/
*.pyc

# Logs
logs/
*.log
